.homepage {
  font-family: "Raleway", sans-serif;
  
  background-color: #f7f7f7;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.header .logo {
  font-size: 24px;
  font-weight: bold;
}

.header nav ul {
  display: flex;
  list-style: none;
}
.header .btn {
  display: block;
  background: linear-gradient(135deg, #f54b64, #f78361);
  
}
.header nav ul li {
  margin: 0 15px;
}

.header nav ul li a {
  text-decoration: none;
  color: #333;
}

.hero {
  background: #f4f4f9;
  padding: 60px 20px;
  text-align: center;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.cta-buttons .btn {
  padding: 10px 20px;
  background: linear-gradient(135deg, #f54b64, #f78361);
  color: white;
  border-radius: 5px;
  text-decoration: none;
  margin: 10px;
}

.cta-buttons .btn:hover {
  background: linear-gradient(135deg, #f54b64, #f78361);
}

.how-it-works {
  padding: 40px 0;
  text-align: center;
}

.how-it-works .steps {
  display: flex;
  justify-content: space-around;
}

.how-it-works .step {
  width: 22%;
  padding: 20px;
  background: linear-gradient(135deg, #f54b64, #f78361);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Why {
  padding: 40px 0;
  text-align: center;
}

.features {
  display: flex;
  padding: 40px 0;
  text-align: center;
  justify-content: space-around;
}

.features .feature {
  width: 22%;
  
  margin: 20px;
  background: linear-gradient(135deg, #f54b64, hsl(14, 90%, 67%));
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.user-posts {
  padding: 40px 0;
  
}

.user-posts .post {
  
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #0f0e0e;
  box-shadow: 0 4px 8px rgba(161, 64, 64, 0.1);
  font-size: 18px;
  border-color: #0d0c0c;
  font-weight: bolder;
  
}

.footer {
  background: linear-gradient(135deg, #f54b64, #f78361);
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footer .footer-links a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.footer .social-icons {
  margin-top: 10px;
}