.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #f54b64, #f78361);
  border-radius: 10px;
}

.navbar-logo img {
  size: 10px;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  padding: 10px;
}

.navbar-links li {
  margin: 0;
}

.navbar-links a {
  text-decoration: none;
  color: rgb(10, 10, 10);
  font-size: 24px;
  font-weight: bold;
}

.navbar-links a:hover {
  text-decoration: underline;
  color: #f04b4b;
}
