.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #f54b64, #f78361);
  border-radius: 10px;
}
.navbar-logo {
  padding: 20px;
}
.navbar-logo a {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: none;
  color: #fffafa;
  position: relative;
  transition: color 0.3s ease, transform 0.6s ease;
}

/* Adding hover effect to the logo */
.navbar-logo a:hover {
  color: #ff7f50; /* Coral color */
  transform: rotate(360deg); /* Rotate 360 degrees */
}

/* Adding a subtle underline effect */
.navbar-logo a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 50%;
  background-color: #ff7f50; /* Coral color */
  transition: width 0.3s ease, left 0.3s ease;
}

/* When hovered, underline appears */
.navbar-logo a:hover::after {
  width: 100%;
  left: 0;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  padding: 10px;
}

.navbar-links li {
  margin: 0;
}

.navbar-links a {
  text-decoration: none;
  color: rgb(241, 237, 237);
  font-size: 24px;
  font-weight: bold;
}

.navbar-links a:hover {
  text-decoration: underline;
  color: #f04b4b;
}
